* {}

body {
    background-color: #a9a9a9;
}

.block {
    margin: 10px;
    position: relative;
    width: 236px;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    overflow: hidden;
    box-shadow: 10px;
}

.mainimg {
    width: 236px;
    border-style: none;
    /*border-radius: 10px 10px 0px 0px;*/
}

.name {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #808080;
}
.li{
    float: left;
    list-style: none;
    overflow: hidden;

}


.tag {
    font-size: 10px;
    color: #808080;
}

.by {
    font-size: 12px;
    padding: 10px;
}

.account {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px;
    float: left;
    border-radius: 5px;
}

h1 {
    font-size: 12px;
}

h2 {
    font-size: 7px;
    line-height: 1pt;
    color: #808080;
    float: bottom;
}

p {
    font-size: 8px;
    line-height: 20%
}

</style>